body,html{
    background-color:#fdf5f5;
    display:block;
    height: 100%;
}
.main{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hide{
    display:none !important;
}
#input{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#content{
    height:100%;
    width:100%;
}
.text{
    width:70%;
    height:500px;
    opacity: 50%;
    background-color:white;
}
.title{
    font-family: 'Merriweather', Georgia, serif;
    font-size:40px;
    border-bottom-style:solid;
    border-color:grey;
    text-align: center;
    width:160px;
}
h1{
    font-family: 'Merriweather', Georgia, serif;
    font-size:30pt;
}
#fetch-button{
    font-family: 'Merriweather', Georgia, serif;
    font-size:14pt;
}
.buttonContainer{
    width:100%;
    display:flex;
    justify-content: space-between;
}